[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

*.suo
*.user
*.suo.lock
*.opensdf
*.docstates

_ReSharper.*/
[Tt]humbs.db
*.pdb
*.suo
*.log

[Pp]ackages/
!packages.config

.vs/
.vspscc
*.vssscc
*.tmp
*.log
*.bak
*.ide
*.ncb
*.scc
*.userprefs
*.vsp
*.epp
*.epp.bak
*.suo
*.vssscc
*.vsdproj

.cache/
.tfs/
.tfstmp/

**/*.deps.json
**/*.runtimeconfig.json
**/*.dll
**/*.exe
**/*.pdb
**/*.xml
**/*.pfx
**/*.snk

*.user
*.user.user
*.user.user.user
*.user.vsp
*.user.suo

*.sqlite
*.db
*.mdb

/wwwroot/lib/
/wwwroot/dist/

TestResults/
EncurtadorURL/Migrations/
EncurtadorURL/Database.db


# Docker files
Dockerfile
docker-compose.yml
docker-compose.*.yml
.dockerignore
*.dockerfile
docker/